* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -noz-osx-font-smoothing: grayscale;

}


body {

    text-align: center;
    padding-top: 200px;
    background-image:url(https://i.ibb.co/bJb8x07/foto-travel-expert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
    height: 100vh;

    
}





H1 {
    color: #151718;
    font-weight: 700;
    font-size: 64px;
    line-height: 86px;
    font-family: 'Cinzel', serif;

}

h1 span {
    color: #DB2777;
}



p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    color: rgba(44, 46, 47, 0.9);
    opacity: .9;
}

a {
    padding: 16px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #151718;
    opacity: .9;
}

a:hover,
.btn-primary {
    color: #FFFFFF;
    background: #DB2777;
    border-radius: 80px;
    text-decoration: none;
}